.profile {
  border-radius: 50%;
  width: 340px;
  height: 340px;
}
blockquote {
  h2 {
    border-left: 5px solid #f2a007;
    color: #f2a007;
    font-size: 24px;
    margin: 24px 0;
    padding-left: 1.5rem;
    text-align: justify;
  }
}

.paragraph-container {
  p {
    text-align: justify;
    font-size: 16px;
  }
}
