.profile {
  border-radius: 50%;
  width: 100%;
  max-width: 340px;
  height: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph-container {
  h2,
  strong {
    font-weight: bold;
  }

  p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: 100%;
    height: auto;
    max-width: none;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .col-md-8 {
    margin-top: 30px;
  }
}
