.contact-details {
  display: flex;
  align-items: center;
  margin-bottom: 24px; /* add some spacing between contact details */

  button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #645dd7;
    border: none;
    margin-right: 16px;
    transition: all 0.3s ease; /* add transition effect to button */

    &:hover {
      transform: scale(1.1); /* increase button size on hover */
    }
  }

  .contact-icon {
    font-size: 36px;
    color: #fff;
  }

  a {
    text-decoration: none;
    color: #fc2b48;
    font-weight: bold; /* add some emphasis to link text */
  }
}
