.education-card {
  background-color: #fff;
  height: 220px;
  padding: 16px 0 0 16px;
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);

  .card-title {
    color: #fb62f6;
    font-size: 20px;
    padding-bottom: 6px;
  }

  p {
    color: #645dd7;
  }
}
