.background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url("background.jpg") no-repeat;
  background-size: cover;
}
.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.text {
  color: #fff;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
  padding-left: 80px;
}

.highlight {
  color: $raspberry;
}

.button {
  border: 2px solid #fff;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.5s;
  font-family: "Open Sans", sans-serif;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

.button:hover {
  border: 2px solid $raspberry;
  background-color: $raspberry;
  color: #fff;

  .highlight {
    color: #fff;
  }
}
