.project-card {
  height: 480px;
  width: 500px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  background-color: #fff;

  .image {
    height: 300px;
    width: 500px;
    border-radius: 4px;
  }

  .card-content {
    padding: 20px;
    height: 200px;
    font-size: 16px;
  }

  .card-title {
    color: #fb62f6;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }

  .card-title i {
    margin-left: auto;
  }

  .card-reveal {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    padding: 24px;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .card-reveal ul {
    padding-bottom: 190px;
  }

  .card-reveal li {
    font-size: 18px;
  }

  .card-action i {
    font-size: 44px;
    color: #645dd7;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    margin-right: 16px;
  }

  .card-action a {
    text-decoration: none;
  }
}

.card:hover .card-reveal {
  display: block;
}

.card:hover .card-content {
  display: none;
}

.card:hover .card-image {
  display: none;
}
