<div class="sidebar-wrapper">
  <nav class="sidebar hide-on-small-only">
    <ul>
      <li class="nav-item nav-about"><a href="#about"><i class='fas fa-user'></i> About</a></li>
      <li class="nav-item nav-projects"><a href="#project"><i class='fas fa-file-code'></i> Projects</a></li>
      <li class="nav-item nav-skills"><a href="#skill"><i class='fas fa-laptop-code'></i> Skills</a></li>
      <li class="nav-item nav-education"><a href="#education"><i class='fas fa-graduation-cap'></i> Education</a></li>
      <li class="nav-item nav-contact"><a href="#contact"><i class='fas fa-envelope'></i> Contact</a></li>
      <li class="nav-item nav-blog"><a href="#blog"><i class='fas fa-blog'></i> Blog</a></li>
    </ul>
    <button class="sidebar-toggle show-on-small-only"><i class="fa-solid fa-bars"></i></button>
  </nav>
</div>
