<section id="contact">
  <h3 class="page-title white-text raspberry">CONTACT</h3>
  <div class="container">
    <p class="contact-details">
      <button><a href="mailto:sarah.katherinefrancis@gmail.com"><i class="fa-solid fa-envelope contact-icon"></i></a></button>
      <a href="mailto:sarah.katherinefrancis@gmail.com">sarah.katherinefrancis@gmail.com</a>
    </p>
    <p class="contact-details">
      <button><a href="https://github.com/SarahKatherineFrancis"><i class="fa-brands fa-github contact-icon"></i></a></button>
      <a href="https://github.com/SarahKatherineFrancis">github.com/SarahKatherineFrancis</a>
    </p>
    <p class="contact-details">
      <button><a href="https://www.linkedin.com/in/sarah-kfrancis"><i class="fa-brands fa-linkedin contact-icon"></i></a></button>
      <a href="https://www.linkedin.com/in/sarah-kfrancis">linkedin.com/in/sarah-kfrancis</a>
    </p>
  </div>
</section>
