<section class="projects-section">
  <h3 class="page-title white-text raspberry">PROJECTS</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-6 col-sm-12 mb-5">
        <div class="project-card medium">
          <div class="card-image">
            <%= image_tag "journo.png", :class => "image"%>
          </div>
          <div class="card-content">
            <span class="card-title">
              Journo
            </span>
            <p>
              An app that provides personalized activity recommendations for
              travelers and includes a journal feature to capture and store
              their trip experiences.
            </p>
          </div>
          <div class="card-flip">
            <span class="card-title">
              Accomplishments
            </span>
            <ul>
              <li><strong>Ruby on Rails</strong> backend</li>
              <li>User authentication via <strong>Devise</strong></li>
              <li>Integrated <strong>OpenAI API</strong></li>
              <li>Integrated <strong>Mapbox API</strong></li>
            </ul>
            <hr>
            <div class="card-action">
              <a href="https://www.travel-journo.me">
                <i class="fa-solid fa-globe"></i>
              </a>
              <a href="https://github.com/SarahKatherineFrancis/journo" aria-label="View Source">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-6 col-sm-12 mb-5">
        <div class="project-card medium">
          <div class="card-image">
            <%= image_tag "furr.png", :class => "image"%>
          </div>
          <div class="card-content">
            <span class="card-title">
              Furr
            </span>
            <p>
              An app that connects pet owners with available pet sitters,
              making it easier for pet owners to find trusted care for their
              pets.
            </p>
          </div>
          <div class="card-flip">
            <span class="card-title">
              Accomplishments
            </span>
            <ul>
              <li><strong>Ruby on Rails</strong> backend</li>
              <li>User authentication via <strong>Devise</strong></li>
              <li>Designed in <strong>Bootstrap</strong></li>
              <li>Integrated <strong>Mapbox API</strong></li>
            </ul>
            <hr>
            <div class="card-action">
              <a href="http://furr.herokuapp.com/">
                <i class="fa-solid fa-globe"></i>
              </a>
              <a href="https://github.com/SarahKatherineFrancis/furr">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-6 col-sm-12 mb-5">
        <div class="project-card medium">
          <div class="card-image">
            <%= image_tag "lumo.png", :class => "image"%>
          </div>
          <div class="card-content">
            <span class="card-title">
              Lumo
            </span>
            <p>
              A dictionary app that is useful for anyone looking to quickly
              find the definition of a word or expand their vocabulary.
            </p>
          </div>
          <div class="card-flip">
            <span class="card-title">
              Accomplishments
            </span>
            <ul>
              <li>Implemented <strong>React</strong></li>
              <li>Integrated <strong>SheCodes Dictionary API</strong></li>
              <li>Designed in <strong>Bootstrap</strong></li>
              <li>Fully <strong>responsive</strong> designs</li>
            </ul>
            <hr>
            <div class="card-action">
              <a href="https://angry-booth-422a13.netlify.app/">
                <i class="fa-solid fa-globe"></i>
              </a>
              <a href="https://github.com/SarahKatherineFrancis/react-dictionary-app" aria-label="View Source">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-6 col-sm-12 mb-5">
        <div class="project-card medium">
          <div class="card-image">
            <%= image_tag "weather.png", :class => "image"%>
          </div>
          <div class="card-content">
            <span class="card-title">
              SkyCast
            </span>
            <p>
              A weather app that provides users with up-to-date information
              about current and future weather conditions for a specific
              location.
            </p>
          </div>
          <div class="card-flip">
            <span class="card-title">
              Accomplishments
            </span>
            <ul>
              <li>Implemented <strong>React</strong></li>
              <li>Integrated <strong>OpenWeather API</strong></li>
              <li>Designed in <strong>Bootstrap</strong></li>
              <li>Fully <strong>responsive</strong> designs</li>
            </ul>
            <hr>
            <div class="card-action">
              <a href="https://unruffled-agnesi-0b02b9.netlify.app/">
                <i class="fa-solid fa-globe"></i>
              </a>
              <a href="https://github.com/SarahKatherineFrancis/react-weather-app" aria-label="View Source">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
