<section id="about">
  <h3 class="page-title white-text raspberry">ABOUT</h3>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", :class => "profile" %>
      </div>
      <div class="col-md-8 paragraph-container">
        <h2>Who am I?</h2>
        <p>
          As a Full Stack Developer, I bring a unique combination of skills and
          experience to my work. Before pursuing web development, I worked as a
          kindergarten teacher for several years. After discovering my passion for
          technology, I decided to enroll in the Le Wagon Web Development
          bootcamp and have since continued to hone my skills and stay up-to-date
          with the latest technologies.
        </p>
        <p>
          I have always sought out opportunities and challenges that are
          meaningful to me, and my passion for helping others and solving problems
          has remained a constant throughout my professional journey. As a web
          developer, I leverage my meticulous attention to detail, my love for
          creating things, and my unwavering work ethic to make a positive impact
          on the world.
        </p>
        <p>
          Current focus: <strong>Ruby on Rails</strong> //<strong>React</strong>
          //<strong>Responsive Design</strong>
        </p>
      </div>
    </div>
  </div>
</section>
