<section id="about">
  <h3 class="page-title white-text raspberry">EDUCATION</h3>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="education-card">
          <div class="card-content">
            <p class="card-title">STELLENBOSCH UNIVERSITY</p>
            <p>Stellenbosch, South Africa</p>
            <ul>
              <li>B.A. in Humanities</li>
              <li>Major in Psychology, Sociology & MetaScience</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="education-card">
          <div class="card-content">
            <p class="card-title">LE WAGON</p>
            <p>Cape Town, South Africa</p>
            <ul>
              <li>Web Development</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="education-card">
          <div class="card-content">
            <p class="card-title">SHECODES</p>
            <p>Online</p>
            <ul>
              <li>SheCodes Basics</li>
              <li>SheCodes Plus</li>
              <li>SheCodes Responsive</li>
              <li>SheCodes React</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
