<section class="projects">
  <h3 class="page-title white-text raspberry">PROJECTS</h3>
  <div class="container">
    <div class="row">
      <div class="col-m-5 col-lg-6">
        <div class="card medium">
          <div class="card-image">
            <%= image_tag "journo.png", :class => "image"%>
          </div>
          <div class="card-content">
            <span class="card-title">
              Journo
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </span>
            <p>An app that provides personalized activity recommendations for
              travelers and includes a journal feature to capture and store
              their trip experiences.</p>
          </div>
        </div>
      </div>
      <div class="col-m-5 col-lg-6">
        <div class="card medium">
          <div class="card-image">
            <%= image_tag "furr.png", :class => "image"%>
          </div>
          <div class="card-content">
            <span class="card-title">
              Furr
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </span>
            <p>An app that connects pet owners with available pet sitters,
              making it easier for pet owners to find trusted care for their
              pets.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
